<!DOCTYPE html>

<html>

<head>

  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>

  <h1>
    <%= title %>
  </h1>

  <p>Welcome to
    <%= title %> use ejs template    
  
  
     </p>
  <SCRIPT>
    // var arr = [15, 9, 8, 22, 88, 45, 78];
    // function insertSort(arr) {
    //   for(var i = 1;i<arr.length;i++){
    //     var k = arr[i];
    //     for(var j =i-1;j>=0 && arr[j]>k; j--){
    //       arr[j+1] =arr[j];
    //     }
    //     arr[j+1] = k;
    //   }
    // }

    // insertSort(arr);
    // console.log(arr)
    var arr = [10, 20, 30];
    arr.pop();
    console.log(arr);
  </SCRIPT>
</body>

</html>